<template lang="pug">
  .announcements-view
    .announcements
      header-component(type="small" title="announcements the parish")
      .container
        .announcements-content(v-for="(announcement, index) of announcements")
          .announcements-contentTitle
            | {{ announcement.name }}
          .announcements-contentDate
            | {{ new Date(announcement.date).toLocaleString('en-US', { month: 'long' }) }}
            | {{ new Date(announcement.date).getDate() }},
            | {{ new Date(announcement.date).getFullYear() }}
          .announcements-contentText(v-html="announcement.content")
      footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';

  export default {
    name: "AnnouncementComponent",

    data () {
      return {
        ...DATA
      }
    },

    computed: {
      announcements: function() {
        var announcements = Object.keys(DATA.Announcement || {}).map(i => {
          return DATA.Announcement[i]
        }).sort((a,b)=>{return b.date-a.date})
        console.log(announcements)
        return announcements
      },
    },

    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .announcements-view {
    .announcements {
      &-content {
        border-bottom: 1px #eee solid;
        margin-bottom: 50px;

        &Title {
          margin-top: 34px;
          margin-bottom: 5px;

          font-size: 18px;
          color: #4A4A4A;
          line-height: 30px;
        }

        &Date {
          font-size: 14px;
          color: #000;
          text-transform: uppercase;
          opacity: 0.2;
        }

        &Text {
          margin-bottom: 34px;

          font-weight: 300;
          font-size: 14px;
          color: #4A4A4A;
          line-height: 30px;
        }
      }
    }
  }
</style>
