<template lang="pug">
  .bulletins-view
    .bulletins
      header-component(type="small" title="bulletins")
      .container
        .latest
          .latest-header
            | {{$t('pages.bulletins.latestHeader')}}
          .latest-item(v-for="(item, i) in Bulletin")
            .latest-date
              | {{ item.name }}

            .latest-buttons
              //- .latest-preview
              //-   | Preview
              a.latest-download(:href="deepFind(item,'file.file') || ''")
                | Descargar
      //-
      //-   .archive
      //-     .archive-header
      //-       | LATEST BULLETINS
      //-     .archive-item(v-for="(archive_item, i) in archive")
      //-       .archive-itemHeader(@click="onItemClick")
      //-         | {{ archive_item.year }}
      //-         .archive-icon
      //-       .archive-months
      //-         .archive-month(v-for="archive_month in archive_item.months")
      //-           a.archive-day(v-for="(archive_day, i) in archive_month.days" href="/")
      //-             | {{ archive_month.name }} {{ archive_day.day }}
      //- announcement-component
      footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';

  export default {
    name: "BulletinsComponent",

    data() {
      return {
        ...DATA,
        dates: [
          {
            date: 'September 18',
            download: 'link',
          },
          {
            date: 'September 11',
            download: 'link',
          },
          {
            date: 'September 4',
            download: 'link',
          },
          {
            date: 'August 28',
            download: 'link',
          },
          {
            date: 'August 21',
            download: 'link',
          },
          {
            date: 'August 14',
            download: 'link',
          },
          {
            date: 'August 7',
            download: 'link',
          },
        ],
        archive: [
          {
            year: 2014,
            months: [
              {
                name: 'January',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'February',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'March',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'April',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'May',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'June',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'July',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'August',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'September',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'October',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'November',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'December',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
            ]
          },
          {
            year: 2015,
            months: [
              {
                name: 'January',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'February',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'March',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'April',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'May',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'June',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'July',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'August',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'September',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'October',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'November',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'December',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
            ]
          },
          {
            year: 2016,
            months: [
              {
                name: 'January',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'February',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'March',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'April',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'May',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'June',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'July',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'August',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'September',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'October',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'November',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'December',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
            ]
          },
          {
            year: 2017,
            months: [
              {
                name: 'January',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'February',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'March',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'April',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'May',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'June',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'July',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'August',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'September',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'October',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'November',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
              {
                name: 'December',
                days: [
                  {
                    day: 1,
                    link: '/link'
                  },
                  {
                    day: 2,
                    link: '/link'
                  },
                  {
                    day: 3,
                    link: '/link'
                  },
                  {
                    day: 4,
                    link: '/link'
                  }
                ]
              },
            ]
          }
        ]
      }
    },

    mounted: function() {
    },

    methods: {
      onItemClick(e) {
        e.target.parentNode.classList.toggle('archive-item--active')
      },
      deepFind(obj, path) {
        var paths = path.split('.')
          , current = obj
          , i;

        for (i = 0; i < paths.length; ++i) {
          if (current[paths[i]] == undefined) {
            return undefined;
          } else {
            current = current[paths[i]];
          }
        }
        return current;
      }
    },
    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .bulletins-view {
    .bulletins {
      .latest {
        margin-top: 77px;
        margin-bottom: 50px;

        &-header {
          background: #4A92AB;
          font-weight: 500;
          font-size: 18px;
          color: #FFFFFF;

          padding: 25px 43px;
        }

        &-item {
          padding: 14px 28px 14px 43px;

          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;

          background: #FBFBFA;

          &:nth-child(odd) {
            background: #F7F7F7;
          }
        }

        &-date {
          font-weight: 300;
          font-size: 18px;
          color: #4A4A4A;
        }

        &-buttons {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          text-transform: uppercase;
        }

        &-preview {
          font-size: 14px;
          color: #4A92AB;

          padding: 11px 19px;
          margin-right: 21px;

          cursor: pointer;

          border-right: 1px #D5D5D5 solid;
        }

        &-download {
          font-size: 14px;
          color: #4A92AB;
          border: 2px solid #4A92AB;

          padding: 11px 19px;
        }
      }

      .archive {
        margin-bottom: 78px;

        &-header {
          background: #797979;
          padding: 25px 43px;

          font-weight: 500;
          font-size: 18px;
          color: #FFFFFF;
        }


        &-item {
          overflow: hidden;

          &:nth-child(odd) .archive-itemHeader {
            background: #F7F7F7;
          }

          &--active .archive-months {
            opacity: 1;
            max-height: initial;
            padding-top: 43px;
          }

          &--active .archive-itemHeader {
            background: #F7F7F7;

            &:after {
              box-shadow: 0 3px 5px 0 rgba(207,207,207,0.50);
            }

            .archive-icon {
              opacity: 0;
            }
          }
        }

        &-itemHeader {
          font-weight: 300;
          font-size: 18px;
          color: #4A4A4A;

          position: relative;

          transition: background 0.2s ease;
          will-change: background;

          padding: 23px 28px 23px 43px;
          background: #FBFBFA;

          cursor: pointer;

          &:after {
            content: '';
            height: 6px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 40px);
          }
        }

        &-icon {
          background: url('~assets/images/arrow-down.svg') no-repeat center center / contain;
          height: 16px;
          width: 28px;

          position: absolute;
          top: 50%;
          right: 37px;
          transform: translateY(-50%);

          pointer-events: none;
        }

        &-months {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          background: #F7F7F7;
          max-height: 0;
          opacity: 0;
          width: calc(100% - 40px);
          margin: 0 auto;
          padding: 0 20px;
        }

        &-month {
          flex: 0 0 16%;
          margin-bottom: 50px;
          text-align: center;

          display: flex;
          flex-flow: column nowrap;
          align-items: center;
        }

        &-day {
          font-weight: 400;
          font-size: 14px;
          line-height: 32px;
          color: #4A92AB;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .bulletins-view .bulletins {
      .latest {
        margin-top: 40px;
        margin-bottom: 0;

        &-header {
          padding: 25px 20px;
        }

        &-item {
          padding: 15px 20px;
        }

        &-date {
          max-width: 130px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &-download {
          padding: 10px 12px;
          font-size: 12px;
        }
      }
    }
  }
</style>
