<template lang="pug">
  .calendar-view
    header-component(type="small" title="calendar")
    .container
      //- .search
      //-   .search-input
      //-     input(type="text" placeholder="Search events …")
      //-   .search-button
      //-     button(type="submit") Find

      .calendar-and-events
        .calendar
          .calendar-header
            .calendar-left(@click="prevMonth")
            .calendar-date
              | {{currentMonth | monthName }}
            .calendar-right(@click="nextMonth")
          .calendar-content
            .calendar-daysHeader
              .calendar-day
                | D
              .calendar-day
                | L
              .calendar-day
                | M
              .calendar-day
                | M
              .calendar-day
                | J
              .calendar-day
                | V
              .calendar-day
                | S
            .calendar-days
              .calendar-day(v-for="day in spaces ")
              .calendar-day(
                v-for="(d, index) in days "
                @click="select(index)"
                v-bind:class="[d.hasEvent ? 'calendar-dayWithEvent': '',  d.active ? 'calendar-dayActive': '']")
                .calendar-digit
                  | {{index+1}}

        events-component(v-bind:events="eventsAtSelectedDay")

    announcement-component
    footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';
  import EventsComponent from '../components/Events';
  import moment from 'moment';
  export default {
    name: "CalendarComponent",
    data(){
      return {
        ...DATA,
        monthIndex: 0,
        selected: -1
      }
    },
    methods: {
      nextMonth(){
        this.monthIndex++;
        this.selected= -1;
      },
      prevMonth(){
        this.monthIndex--;
        this.selected= -1;
      },
      select(index){
        this.selected = index;
      }
    },
    filters: {
      monthName(val) {
        return val.format('MMMM YYYY')
      },
      dayName(val) {
        return val.format('dddd, MMMM D')
      }
    },
    computed: {
      currentMonth() {
        return moment().add(this.monthIndex, 'M')
      },
      spaces() {
        return this.currentMonth.startOf('month').isoWeekday() < 7 ?
          this.currentMonth.startOf('month').isoWeekday()
          : 0
      },
      eventsAtSelectedDay() {
          const result = Object.keys(DATA.Event)
            .reduce( (res, key) => {
              let day = moment(DATA.Event[key].day).startOf('day').valueOf()
              const { currentMonth, selected } = this;

              if (selected > -1
                    && !currentMonth.date(selected+1).isSame(day, 'day') )
                      return res

              res[day] = !!res[day]
                ? {...res[day], [key]: DATA.Event[key]}
                : {[key]: DATA.Event[key]}

              return res
            }, {})
          return result
      },
      days() {
        const daysCount = +this.currentMonth.endOf('month').format('D')
        return (new Array(daysCount)).fill(0).map((d,i) => {
          let hasEvent = false;
          for (let key in DATA.Event) {
            if (this.currentMonth.date(i+1).isSame(new Date(DATA.Event[key].day), 'day')) {
              hasEvent = true;
            }
          }

          return {
            hasEvent,
            active: (this.selected === i)
          }
        })
      }
    },
    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent,
      EventsComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .calendar-view {
    .search {
      margin-top: 70px;

      width: 100%;
      height: 55px;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &-input {
        position: relative;
        height: 100%;
        flex: 1;

        &:after {
          content: '';
          background: url('~assets/images/search.svg') no-repeat center center / contain;
          height: 24px;
          width: 24px;

          position: absolute;
          top: 50%;
          left: 23px;
          transform: translateY(-50%);
        }

        input {
          width: 100%;
          height: 100%;
          background: #F7F7F7;
          border: 1px solid #E8E8E8;
          font-weight: 300;
          font-size: 18px;
          color: #4A4A4A;
          outline: none;
          padding: 17px 68px;
        }
      }

      &-button {
        position: relative;
        height: 100%;

        &:after {
          content: '';
          background: url('~assets/images/calendar-find.svg') no-repeat center center / contain;
          height: 10px;
          width: 11px;

          position: absolute;
          top: 50%;
          right: 29px;
          transform: translateY(-50%);
        }

        button {
          height: 100%;
          background: #4A92AB;
          font-weight: 300;
          font-size: 14px;
          color: #FFFFFF;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 17px 45px 17px 39px;
          text-transform: uppercase;
        }
      }
    }

    .calendar-and-events {
      margin-top: 35px;
      margin-bottom: 96px;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .calendar {
      flex: 0 0 50%;

      &-header {
        background: #4A92AB;
        font-size: 24px;
        color: #FFFFFF;
        text-transform: uppercase;

        padding: 40px 0;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        position: relative;
      }

      &-left,
      &-right {
        width: 14px;
        height: 22px;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        cursor: pointer;
      }

      &-left {
        background: url('~assets/images/calendar-left.svg') no-repeat center center / contain;
        left: 65px;
      }

      &-right {
        background: url('~assets/images/calendar-right.svg') no-repeat center center / contain;
        right: 65px;
      }

      &-content {
        background: #F7F7F7;

        padding: 20px 0 30px;
      }

      &-daysHeader {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        text-align: center;

        .calendar-day {
          flex: 0 0 14.28%;
          height: 65px;

          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 12px;
          color: rgba(0,0,0,0.38);

          cursor: default;
        }
      }

      &-days {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
      }

      &-day {
        flex: 0 0 14.28%;

        height: 65px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: rgba(0,0,0,0.87);

        cursor: pointer;

        .calendar-digit {
          min-width: 65px;
          min-height: 65px;
          text-align: center;
          border-radius: 100px;
          padding: 22px;
        }

        &WithEvent .calendar-digit {
          background: rgba(0,0,0,0.05);
        }

        &Active .calendar-digit {
          color: #fff;
          background: #4A92AB;
        }
      }
    }

    .events {
      flex: 0 0 26.4%;

      &-header {
        background: #797979;

        font-size: 18px;
        color: #FFFFFF;
        text-transform: uppercase;

        padding: 44px 0 43px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        position: relative;
      }

      &-content {
        background: #F7F7F7;
      }

      &-date {
        font-size: 18px;
        color: #4A4A4A;
        padding: 59px 0 53px;
        text-align: center;

        position: relative;

        &:after {
          content: '';
          width: 30%;
          height: 1px;
          background: #D7D7D7;

          position: absolute;
          left: 50%;
          transform: translateX(-50%);

          bottom: 0px;
        }
      }

      &-items {
        overflow-y: scroll;
        max-height: 373px;
      }

      &-item {
        text-align: center;

        padding: 30px 0;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        position: relative;

        &:after {
          content: '';
          width: 30%;
          height: 1px;
          background: #D7D7D7;

          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }

        &:last-child:after {
          content: none;
        }
      }

      &-itemTitle {
        font-size: 18px;
        color: #4A4A4A;
      }

      &-itemTime {
        margin-top: 6px;
      }

      &-itemTime,
      &-itemPlace {
        font-weight: 300;
        font-size: 14px;
        color: #4A4A4A;
      }

      &-more {
        margin-top: 3px;
        font-size: 14px;
        color: #4A92AB;
      }
    }
  }

  @media (max-width: 768px) {
    .calendar-view .calendar-and-events {
      display: block;

      .calendar {
        &-header {
          font-size: 18px;
        }

        &-left {
          left: 15px;
        }

        &-right {
          right: 15px;
        }

        &-day {
          height: 55px;
        }

        &-digit {
          min-height: initial;
          min-width: 40px;
          padding: 10px;
        }
      }
    }
  }
</style>
