<template lang="pug">
  .contact-view
    .contact
      header-component(type="small" title="contact us")
      .container
        form.form(v-on:submit="sendMail")
          .contact-heading
            | {{$t('pages.contact.form.contactHeading')}}
          .form-subtitle
            | {{$t('pages.contact.form.formSubtitle')}}

          .form-inner
            .form-item
              input(type="text" v-bind:placeholder="$t('pages.contact.form.formInner.name')" v-model="form.fullName")
              input(type="text" v-bind:placeholder="$t('pages.contact.form.formInner.phoneNumber')" v-model="form.phoneNumber")
              input(type="text" v-bind:placeholder="$t('pages.contact.form.formInner.email')" v-model="form.email")
              input(type="text" v-bind:placeholder="$t('pages.contact.form.formInner.webSite')" v-model="form.website")
              textarea(v-bind:placeholder="$t('pages.contact.form.formInner.message')" v-model="form.message")
            .form-item
              button(type="submit") {{$t('pages.contact.form.formInner.submit')}}
        .locations
          .contact-heading
            | {{$t('pages.contact.locations.contactHeading')}}
          .location
            .location-map(v-bind:style="{ backgroundImage: 'url('+map1+')' }")
            .location-content
              .location-item
                .location-title {{$t('pages.contact.locations.mainParishBuilding')}}
                .location-info
                  .location-address
                    | {{$t('pages.contact.locations.locationAddress')}}
                    span {{Parish.name}}
                    span {{Parish.street}}
                    span {{Parish.city}}, {{Parish.state}} {{Parish.zip}}
                  .location-contact
                    | {{$t('pages.contact.locations.locationContact')}}
                    span {{ParishAdministration.title.name}} {{ParishAdministration.nameFirst}} {{ParishAdministration.nameLast}}
                    span {{Parish.phone}}
                    span {{Parish.email}}
              .location-item
                a.location-button(:href="address1" target="_blank")
                  | {{$t('pages.contact.locations.locationButton')}}

          .location
            .location-map(v-bind:style="{ backgroundImage: 'url('+map2+')' }")
            .location-content
              .location-item
                .location-title {{$t('pages.contact.locations.rectory')}}
                .location-info
                  .location-address
                    | {{$t('pages.contact.locations.locationAddress')}}
                    span {{Rectory.street}}
                    span {{Rectory.city}}, {{Rectory.state}} {{Rectory.zip}}
                  .location-contact
                    | {{$t('pages.contact.locations.locationContact')}}
                    span {{Rectory.title.name}} {{Rectory.nameFirst}} {{Rectory.nameLast}}
                    span {{Rectory.phone}}
                    span {{Rectory.email}}
              .location-item
                a.location-button(:href="address2" target="_blank")
                  | {{$t('pages.contact.locations.locationButton')}}

      announcement-component
      footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';

  export default {
    name: "ContactComponent",

    data() {
      return {
        ...DATA,
        form: {
          phoneNumber: '',
          fullName: '',
          email: '',
          website: '',
          message: ''
        },
        address1: 'http://maps.google.com/?q=' + escape(DATA.Parish.street + ',' + DATA.Parish.city + ',' + DATA.Parish.state + ',' + DATA.Parish.country),
        address2: 'http://maps.google.com/?q=' + escape(DATA.Rectory.street + ',' + DATA.Rectory.city + ',' + DATA.Rectory.state + ',' + DATA.Rectory.country),
        map1: 'https://maps.googleapis.com/maps/api/staticmap?center='+
              escape(`${DATA.Parish.street},${DATA.Parish.city},${DATA.Parish.state ? DATA.Parish.state : ''},${DATA.Parish.country}`)+
              '&zoom=14&size=400x400&markers='+
              escape(`${DATA.Parish.street},${DATA.Parish.city},${DATA.Parish.state ? DATA.Parish.state : ''},${DATA.Parish.country}`)+
              '&key=AIzaSyAPJId69WJ1vxiVQtUxfN3uEYEXWg46rTw',
        map2: 'https://maps.googleapis.com/maps/api/staticmap?center='+
              escape(`${DATA.Rectory.street},${DATA.Rectory.city},${DATA.Rectory.state ? DATA.Rectory.state : ''},${DATA.Rectory.country}`)+
              '&zoom=14&size=400x400&markers='+
              escape(`${DATA.Rectory.street},${DATA.Rectory.city},${DATA.Rectory.state ? DATA.Rectory.state : ''},${DATA.Rectory.country}`)+
              '&key=AIzaSyAPJId69WJ1vxiVQtUxfN3uEYEXWg46rTw'

      }
    },
    methods: {
      sendMail (evt) {
        const reqData = {...this.form, domain: this.Parish.domain}
        const address = 'http://localhost:1337/api/send_mail'

        fetch(address,
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(reqData)
          })
          .catch((err)=> console.log(err))
      }
    },
    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .contact-view {
    .contact {
      &-heading {
        font-size: 33px;
        color: #4A92AB;
        padding-bottom: 8px;
        border-bottom: 1px #D7D7D7 solid;
        margin-bottom: 40px;
      }

      .form {
        padding: 84px 0;

        &-subtitle {
          font-weight: 300;
          font-size: 14px;
          color: #797979;
        }

        &-inner {
          margin-top: 22px;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
        }

        &-item {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;

          &:first-child {
            flex: 0 0 85%;
          }

          &:last-child {
            flex: 0 0 13%;
          }
        }

        input {
          font-size: 14px;
          color: #9B9B9B;
          border: 2px #E8E8E8 solid;

          padding: 17px 24px 15px;
          margin-bottom: 3vh;
          flex: 0 0 49%;
          outline: none;
          font-family: 'Montserrat', sans-serif;
        }

        textarea {
          font-family: 'Montserrat', sans-serif;
          height: 159px;

          font-size: 14px;
          color: #9B9B9B;
          border: 2px #E8E8E8 solid;

          flex: 0 0 100%;

          padding: 20px 24px;
          margin-bottom: 0;
          resize: none;
          outline: none;
        }

        button {
          font-family: 'Montserrat', sans-serif;
          width: 100%;
          font-size: 18px;
          color: #FFFFFF;
          background: #4A92AB;
          border: none;
          text-transform: uppercase;
          cursor: pointer;
          outline: none;
        }
      }

      .locations {
        padding-bottom: 95px;

        .location {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          margin-top: 30px;

          &-map {
            background: no-repeat center center / cover;
            height: 171px;
            flex: 0 0 245px;
          }

          &-content {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            background: #F7F7F7;
            margin-left: 24px;
            flex: 1;

            padding: 27px 46px;
          }

          &-item:first-child {
            flex: 1;
          }

          &-title {
            font-weight: 500;
            font-size: 18px;
            color: #4A92AB;
            margin-bottom: 20px;
          }

          &-info {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
          }

          &-address,
          &-contact {
            font-size: 14px;
            color: #4A4A4A;

            display: flex;
            flex-flow: column nowrap;

            flex: 0 0 50%;

            span {
              font-weight: 300;
            }
          }

          &-button {
            background: #FFFFFF;
            border: 2px solid #4A92AB;
            font-size: 14px;
            color: #4A92AB;
            padding: 15px 58px;
            outline: none;
            cursor: pointer;
          }
        }
      }
    }
  }


  @media (max-width: 768px) {
    .contact-view .contact {
      &-heading {
        font-size: 22px;
        margin-bottom: 20px;
      }

      .form {
        padding-top: 40px;
        padding-bottom: 40px;

        &-subtitle {
          line-height: 18px;
        }

        &-inner {
          display: block;
        }

        &-item {
          display: block;
        }

        input {
          width: 100%;
        }

        textarea {
          width: 100%;
        }

        button {
          margin-top: 20px;
          padding: 15px;
        }
      }

      .locations {
        display: block;
      }

      .locations .location {
        display: block;

        &-content {
          margin-left: 0;
          display: block;
          align-items: initial;

          padding: 27px 20px;
        }

        &-title {
          font-size: 16px;
        }

        &-info {
          display: block;
        }

        &-contact {
          margin-top: 20px;
        }

        &-contact span:first-child,
        &-address span:first-child {
          margin-top: 4px;
        }

        &-button {
          display: block;
          width: 100%;
          margin-top: 30px;
          text-align: center;
        }
      }
    }
  }
</style>
