<template lang="pug">
  .calendar-view
    header-component(type="small" title="calendar")
    .container
      .back
        .back-button
          router-link(to="/calendario/") {{$t('pages.event.backButton')}}
        .back-label
          | {{$t('pages.event.backLabel')}}

      .events-and-details
        events-component(v-bind:events="eventsAtSelectedDay")
        .details
          .details-heading
            | {{Event[index].name}}
          .details-info
            .details-date
              | {{ selectedDay }}
              .details-time
                | {{Event[index].timeStart | toAmPmTime}} - {{Event[index].timeEnd | toAmPmTime}}

            .details-place
              | @ {{Event[index].place}}

          .details-content(v-html="Event[index].description")
    announcement-component
    footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';
  import EventsComponent from '../components/Events';
  import moment from 'moment';

  export default {
    name: "EventComponent",
    data(){
      return {
        ...DATA,
        index: this.$route.params.index
      }
    },
    watch: {
      '$route' (to, from) {
        this.index = to.params.index;
      }
    },
    computed: {
      selectedDay() {
        return moment(DATA.Event[this.index].day).format('dddd, MMMM D')
      },
      eventsAtSelectedDay() {
          const result = Object.keys(DATA.Event)
            .reduce( (res, key) => {
              let day = moment(DATA.Event[key].day).startOf('day').valueOf()
              const { currentMonth, selected } = this;

              res[day] = !!res[day]
                ? {...res[day], [key]: DATA.Event[key]}
                : {[key]: DATA.Event[key]}

              return res
            }, {})
          return result
      },
    },
    filters: {
      toAmPmTime(date) {
         let hours = new Date(date).getHours();
         let minutes = new Date(date).getMinutes();
         const ampm = hours >= 12 ? 'PM' : 'AM';
         hours = hours % 12;
         hours = hours ? hours : 12; // the hour '0' should be '12'
         minutes = minutes < 10 ? '0'+minutes : minutes;
         return hours + ':' + minutes + ' ' + ampm;
      }
    },
    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent,
      EventsComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .calendar-view {
    .back {
      margin-top: 70px;

      width: 100%;
      height: 55px;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &-label {
        background: #FAFAFA;
        height: 100%;
        flex: 1;

        font-size: 18px;
        color: #5C5C5C;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }

      &-button {
        position: relative;
        height: 100%;

        &:after {
          content: '';
          background: url('~assets/images/calendar-back.svg') no-repeat center center / contain;
          height: 10px;
          width: 11px;

          position: absolute;
          top: 50%;
          left: 29px;
          transform: translateY(-50%);
        }

        a {
          display: block;
          height: 100%;
          background: #4A92AB;
          font-weight: 300;
          font-size: 14px;
          line-height: 23px;
          color: #FFFFFF;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 17px 39px 17px 45px;
          text-transform: uppercase;
        }
      }
    }

    .events-and-details {
      margin-top: 35px;
      margin-bottom: 96px;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .details {
      flex: 0 0 67%;

      &-heading {
        font-size: 33px;
        color: #4A92AB;
        padding-bottom: 8px;
        border-bottom: 1px #D7D7D7 solid;
      }

      &-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        margin-top: 15px;
      }

      &-date {
        font-size: 14px;
        color: #5C5C5C;
      }

      &-place {
        font-size: 14px;
        color: #5C5C5C;
      }

      &-content {
        margin-top: 64px;
      }

      &-title {
        font-size: 18px;
        color: #4A4A4A;
        line-height: 30px;
      }

      &-text {
        font-weight: 300;
        font-size: 14px;
        color: #4A4A4A;
        line-height: 30px;

        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: 768px) {
    .calendar-view .back {
      &-button {
        a {
          font-size: 0;
          padding: 25px;
        }

        &:after {
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }

      &-label {
        font-size: 16px;
      }
    }

    .calendar-view .events-and-details {
      flex-flow: column nowrap;

      .events {
        flex: initial;
        order: 2;
        margin-top: 20px;
      }
    }

    .calendar-view .events-and-details .details {
      order: 1;
      flex: initial;

      &-heading {
        font-size: 22px;
        margin-bottom: 20px;
      }

      &-content {
        margin-top: 30px;
      }

      &-info {
        margin-top: 0;
        display: block;
      }

      &-date,
      &-place {
        font-size: 14px;
      }

      &-place {
        margin-top: 4px;
      }

      &-time {
        margin-top: 4px;
      }
    }
  }
</style>
