<template lang="pug">
  .general
    header-component(type="small" title="general directory")
    .container
      .general-heading
        | {{ general.heading }}
      .general-image
      .general-subheading
        | {{ general.subheading }}
      .general-text
        | {{ general.text }}
      .general-text
        | {{ general.text }}

      .general-hr

      .general-text
        | {{ general.text }}

    announcement-component
    footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';

  export default {
    name: "GeneralComponent",

    data () {
      return {
        general: {
          heading: 'H2 Page Heading',
          subheading: 'H3 Subheading',
          image: 'general-image.jpg',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
          quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. '
        }
      }
    },

    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .general {
    &-heading {
      font-size: 33px;
      color: #4A92AB;
      padding-bottom: 8px;
      border-bottom: 1px #D7D7D7 solid;
      margin-top: 75px;
      margin-bottom: 40px;
    }

    &-image {
      width: 100%;
      height: 349px;

      background: no-repeat center center / cover;
      background-image: url('~assets/images/general-image.jpg');

      margin-bottom: 44px;
    }

    &-subheading {
      font-size: 18px;
      color: #4A4A4A;
      line-height: 30px;

      margin-bottom: 5px;
    }

    &-text {
      font-weight: 300;
      font-size: 14px;
      color: #5C5C5C;
      line-height: 30px;

      margin-bottom: 44px;
    }

    &-hr {
      width: 60%;
      margin: 0 auto;
      height: 1px;
      background: #E8E8E8;

      margin-bottom: 62px;
    }
  }
</style>
