<template lang="pug">
  .home
    header-component

    .worship_mobile
      .container
        .worship_mobile-header
          | {{$t('pages.worship.header')}}
        .worship_mobile-content
          .worship_mobile-label
            | {{$t('pages.home.massTimes')}}
          .worship_mobile-tabs
            .worship_mobile-tab(
              v-for="(day, index) in $t('daysOfWeek.large')"
              @click="selectDayMass(index)"
              v-bind:class=" selectedDayMass==index ? 'worship_mobile-tabActive' : '' ")
              .worship_mobile-day
                | {{ day }}
                .worship_mobile-icon

              .worship_mobile-item(v-if="selectedDayMass==index && worship.type == 'mass'" v-for="worship in worships[daysOfWeek[selectedDayMass]]")

                .worship_mobile-time
                  | {{ worship.timeStart | toAmPmTime }}
                .worship_mobile-name
                  | {{ worship.name }}
                .worship_mobile-language
                  | {{ deepFind(worship, 'language.name') }}

        .worship_mobile-content
          .worship_mobile-label
            |{{$t('pages.home.confessionTimes')}}
          .worship_mobile-tabs
            .worship_mobile-tab(
              v-for="(day, index) in $t('daysOfWeek.large')"
              @click="selectDayConf(index)"
              v-bind:class=" selectedDayConf==index ? 'worship_mobile-tabActive' : '' ")
              .worship_mobile-day
                | {{ day }}
                .worship_mobile-icon

              .worship_mobile-item(v-if="selectedDayConf==index && worship.type == 'confession'" v-for="worship in worships[daysOfWeek[selectedDayConf]]")


                .worship_mobile-time
                  | {{ worship.timeStart | toAmPmTime }}
                .worship_mobile-name
                  | {{ worship.name }}
                .worship_mobile-language
                  | {{ deepFind(worship, 'language.name') }}

        //- .worship_mobile-content
        //-   .worship_mobile-label
        //-     | {{$t('pages.home.otherTimes')}}
        //-   .worship_mobile-tabs
        //-     .worship_mobile-tab(
        //-       v-for="(day, index) in $t('daysOfWeek.large')"
        //-       @click="selectDayOther(index)"
        //-       v-bind:class=" selectedDayOther==index ? 'worship_mobile-tabActive' : '' ")
        //-       .worship_mobile-day
        //-         | {{ day }}
        //-         .worship_mobile-icon
        //-
        //-       .worship_mobile-item(v-if="selectedDayOther==index && worship.type == 'other'" v-for="worship in worships[daysOfWeek[selectedDayOther]]")
        //-
        //-         .worship_mobile-time
        //-           | {{ worship.timeStart | toAmPmTime }}
        //-         .worship_mobile-name
        //-           | {{ worship.name }}
        //-         .worship_mobile-language
        //-           | {{ deepFind(worship, 'language.name') }}

    .news
      .container
        .news-header
          | {{$t('pages.home.newsHeader')}}
        .news-slider
          .news-left(@click="prev")
          .news-right(@click="next")
          transition-group(
            tag="div"
            class="news-container"
            v-bind:name="direction")
            .news-group(
              v-for="articleGroup in shownNews"
              v-bind:key="articleGroup[0].body"
              )
              a.news-item(
                v-for="article in articleGroup"
                v-bind:key="article.body"
                v-bind:href="deepFind(article,'link')"
                target="_blank"
                )
                img(v-bind:src="deepFind(article, 'image.file')")
                .news-text
                  | {{ deepFind(article,'title') }}

    .news_mobile
      .container
        .news_mobile-header
          .news_mobile-headerIcon
          | {{$t('pages.home.newsMobileHeaderIcon')}}
        .news_mobile-content
          a.news_mobile-item(v-for="article in NewsArticle" v-bind:href="deepFind(article,'link')" target="_blank")
            .news_mobile-title
              | {{ deepFind(article, 'title') }}
            .news_mobile-subtitle
              | {{ deepFind(article, 'diocese') }}
            .news_mobile-icon


    announcement-component

    .articles
      .container
        .articles-header
          | {{$t('pages.home.articlesHeader')}}
        .articles-content
          a.articles-item(v-for="article of resourceArticles" v-bind:href="deepFind(article,'link')" target="_blank")
            .articles-image
              img(v-bind:src="deepFind(article, 'image.file') || '' ")
              .articles-imageLabel.article-cyan
                | {{ deepFind(article,'diocese') }}
            .articles-info
              .articles-title
                | {{ deepFind(article,'title') }}
              .articles-text(v-html="deepFind(article,'body')")
              a.articles-link(href="#")
                | {{$t('pages.home.articlesLink')}}

        .articles-more
          | {{$t('pages.home.articlesMore')}}

    .bulletins-and-events.container

      .bulletins(v-if="$objectNotEmpty(Bulletin)")
        .bulletins-header
          | {{$t('pages.home.bulletinsHeader')}}
        .bulletins-content
          .bulletins-item(v-for="(bulletin, index) of Bulletin")
            | {{ bulletin.name }}
            a.bulletins-download(:href="deepFind(bulletin, 'file.file') || '' ")
              | {{$t('pages.home.bulletinsDownload')}}
        .bulletins-more
          router-link(to="/boletines/")
            | {{$t('pages.home.bulletinsMore')}}

      .events(v-if="$objectNotEmpty(Event)")
        .events-header
          | {{$t('pages.home.eventsHeader')}}
        .events-content
          .events-item(v-for="(event, index) of Event")
            router-link.events-link(v-bind:to="'/calendario/eventos/'+index+'/'")
            .events-info
              .events-date
                | {{ event.day | toShortDate }}
              .events-name
                | {{ event.name }}
            .events-arrow
        .events-more
          router-link(to="/calendario/")
            |  {{$t('pages.home.eventsMore')}}

    .worship
      .container
        .worship-header
          | {{$t('pages.worship.header')}}
        .worship-content
          .worship-tabs
            .worship-tab(
              v-for="(day, index) in $t('daysOfWeek')"
              @click="selectDay(index)"
              v-bind:class=" selectedDay==index ? 'worship-tabActive' : '' ")
              | {{ day }}

          .worship-item(v-for="worship in worships[daysOfWeek[selectedDay]]")
            .worship-left
              .worship-name
                | {{ worship.name }}
              .worship-time
                | {{ worship.timeStart | toAmPmTime }}
            .worship-language
              | {{ deepFind(worship, 'language.name') }}




        .worship-more
          router-link(to="/horarios/")
            |  {{$t('pages.home.worshipMore')}}

    .pastor-and-about.container
      .about
        .about-image(v-bind:style="{backgroundImage: 'url(' + Parish.imageAbout.file + ')'}")
          .about-label
            | {{$t('pages.home.aboutLabel')}}
        .about-content
          .about-text(v-html="About.description")
          .about-more
            router-link(to="/acerca-de/")
              | {{$t('pages.home.aboutMore')}}
      .pastor
        .pastor-image(v-bind:style="{backgroundImage: 'url(' + ParishAdministration.image.file + ')'}")
          .pastor-label
            | {{deepFind(ParishAdministration, 'title.name')}}
        .pastor-content
          .pastor-title
            | {{ParishAdministration.nameFirst}} {{ParishAdministration.nameLast}}
          .pastor-text(v-html="ParishAdminBio.bio")
          .pastor-more
            //- | Leer más >>
    .mission
      .container
        | {{ MissionStatement.detail }}
    footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';
  const daysOfWeek = [
    'sunday',
    'monday',
    'tuesday',
    'wednesday',
    'thursday',
    'friday',
    'saturday',
  ]
  function sortByTime(a, b) {
    const tempA = new Date(a.timeStart).setHours(0,0,0,0)
    const tempB = new Date(b.timeStart).setHours(0,0,0,0)

    const timeA = new Date(a.timeStart - tempA)
    const timeB = new Date(a.timeStart - tempA)

    return timeA - timeB
  }
  export default {
    name: "HomeComponent",


    data() {
      return {
        ...DATA,
        articles: [
          {
            image: 'article-1',
            image_label: 'EUCHARISTA',
            title: 'Sacramentos.FE: Visitas al Santísimo Sacramento',
            text: 'Adorar la divina presencia real de Jesucristo: éste es el fundamento primero de la devoción y del culto al Santísimo Sacramento, es la respuesta de fe y de amor hacia Aquel que siendo Dios se hizo hombre, hacia nuestro Salvador que nos ha amado…',
            link: '/link'
          },
          {
            image: 'article-2',
            image_label: 'Educación',
            title: 'El flojo trabaja doble – el vlog de Giuliana',
            text: 'Hay cosas en la educación de los hijos no se pueden dejar de lado, porque después nos traerán muchos más problemas. Te invitamos a ver el vlog de Giuliana:',
            link: '/link'
          },
          {
            image: 'article-3',
            image_label: 'Deporte',
            title: 'El equipo más grande del mundo',
            text: 'La tragedia con el avión de la Chapecoense ha generado una tristeza inmensa. Un equipo de fútbol, de tradición mediana, que llegaba por primera vez a una final internacional y que era portador de la ilusión de toda una ciudad, Chapeco.',
            link: '/link'
          },
          {
            image: 'article-4',
            image_label: 'Espiritualidad',
            title: '¿Cómo puedo hacer para prepararme en este Adviento?',
            text: 'Hoy el p. Sebastián nos da algunos consejos para prepararnos para el Adviento:',
            link: '/link'
          },
        ],

        newsIndex: 0,
        direction: 'left',
        daysOfWeek: daysOfWeek,
        masses: DATA.MassTime,
        confessions: DATA.ConfessionTime,
        other: DATA.OtherTime,
        selectedDay: 0,
        selectedDayConf: 0,
        selectedDayMass: 0,
        selectedDayOther: 0
      }
    },
    computed: {
      shownNews() {
        return [Object.keys(this.NewsArticle)
          .map(i => this.NewsArticle[i])
          .filter((n,i) => Math.floor(i/3) == this.newsIndex )]
      },
      resourceArticles() {
        return Object.keys(this.ResourcesArticle)
          .map(i => this.ResourcesArticle[i])
          .filter((n,i) => i < 4 )
      },
      worships() {
        const { masses, confessions, other } = this
        return [
          ...(Object.keys(masses || {}).map( e=> masses[e]) || []),
          ...(Object.keys(confessions|| {}).map( e=> confessions[e]) || []),
          ...(Object.keys(other|| {}).map( e=> other[e]) || [])
        ].reduce((days, event) => {

          if (event.hasOwnProperty('massType')) {
            event['type'] = 'mass';
            event['name'] = this.deepFind(event, 'massType.name')
          } else if (event.hasOwnProperty('type')) {
            event['name'] = this.deepFind(event, 'type.name')
            event['type'] = 'other';
          } else {
            event['type'] = (this.Parish.languageDefault.encodedValue === 'en') ? 'confession' : 'confesión';
            event['name'] = (this.Parish.languageDefault.encodedValue === 'en') ? 'Confession' : 'Confesión';
          }

          daysOfWeek.forEach(day => {
            if (event[day]) {
              days[day] = [...days[day], event].sort(sortByTime)
            }
          })

          return days
        }, daysOfWeek.reduce((s, d) => { return { ...s, [d]: [] } }, {}))
      }
    },
    methods: {
      deepFind(obj, path) {
        var paths = path.split('.')
          , current = obj
          , i;

        for (i = 0; i < paths.length; ++i) {
          if (current[paths[i]] == undefined) {
            return undefined;
          } else {
            current = current[paths[i]];
          }
        }
        return current;
      },
      selectDay(i){
        this.selectedDay = i;
      },
      selectDayMass(i){
        this.selectedDayMass = i;
      },
      selectDayConf(i){
        this.selectedDayConf = i;
      },
      selectDayOther(i){
        this.selectedDayOther = i;
      },
      next(){
        const {newsIndex, NewsArticle } = this;
        this.direction = 'left';
        this.newsIndex = newsIndex <  Math.floor(Object.keys(NewsArticle).length/3) ? newsIndex+1 : 0
      },
      prev(){
        const {newsIndex, NewsArticle } = this;
        this.direction = 'right';
        this.newsIndex = newsIndex > 0 ? newsIndex-1 :  Math.floor(Object.keys(NewsArticle).length/3)
      }
    },
    filters: {
      toShortDate(date) {
          return new Date(date).toDateString().split(" ").splice(1,2).join(' ').toUpperCase()
      },
      toAmPmTime(date) {
         let hours = new Date(date).getHours();
         let minutes = new Date(date).getMinutes();
         const ampm = hours >= 12 ? 'PM' : 'AM';
         hours = hours % 12;
         hours = hours ? hours : 12; // the hour '0' should be '12'
         minutes = minutes < 10 ? '0'+minutes : minutes;
         return hours + ':' + minutes + ' ' + ampm;
      }
    },


    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .home {

    .news {
      margin: 55px 0;

      &_mobile {
        display: none;
      }

      &-header {
        background: #4A92AB;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        text-transform: uppercase;

        padding: 14px 50px;
      }

      &-slider {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        position: relative;

        padding-top: 20px;
      }

      &-left,
      &-right {
        height: 90px;
        width: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }

      &-left {
        background: url('~assets/images/home-left.svg') no-repeat center center / contain;
        left: -5%;
      }

      &-right {
        background: url('~assets/images/home-right.svg') no-repeat center center / contain;
        right: -5%;
      }
      &-container {
        position: relative;
        overflow: hidden;
        height: 200px;
        width: 100%;
      }
      &-group {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;

        transition: transform .5s;
        transform: translate3d(0,0,0);

        &.left-enter {
          transform: translate3d(1160px,0,0);
        }
        &.left-leave-active {
          transform: translate3d(-1160px,0,0);
        }
        &.left-leave {
          transition-delay: .05s;
        }

        &.right-enter {
          transform: translate3d(-1160px,0,0);
        }
        &.right-leave-active {
          transform: translate3d(1160px,0,0);
        }
        &.right-leave {
          transition-delay: .05s;
        }

      }
      &-item {
        flex: 0 0 32%;
        margin-right: 2%;
        height: 200px;

        position: relative;
        overflow: hidden;



        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);

          min-width: 100%;
          min-height: 100%;
        }
      }

      &-text {
        padding: 15px 22px;
        background: rgba(0,0,0,0.75);

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;

        z-index: 5;
      }
    }

    .articles {
      margin-top: 54px;

      &-header {
        background: #4A92AB;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        text-transform: uppercase;

        padding: 24px 50px;
      }

      &-item {
        padding: 40px 55px;

        display: flex;
        flex-flow: row nowrap;

        position: relative;

        background: #FBFBFA;

        &:after {
          content: '';
          height: 2px;
          width: calc(100% - 110px);
          background: #E8E8E8;

          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        &:last-child:after {
          content: none;
        }
      }

      &-image {
        flex: 0 0 250px;
        height: 150px;
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-height: 100%;
          min-width: 100%;
        }

        &Label {
          font-weight: 500;
          font-size: 15px;
          color: #FFFFFF;

          position: absolute;
          top: 0;
          left: 0;

          min-width: 150px;
          text-align: center;

          text-transform: uppercase;

          padding: 10px 32px;

          &.article-cyan {
            background: rgba(74,146,171,80);
          }

          &.article-orange {
            background: rgba(245,166,35,80);
          }

          &.article-blue {
            background: rgba(74,144,226,80);
          }

          &.article-green {
            background: rgba(67,196,34,80);
          }
        }
      }

      &-info {
        padding-left: 41px;
      }

      &-title {
        font-weight: 500;
        font-size: 14px;
        color: #4A4A4A;
      }

      &-text {
        margin-top: 11px;

        font-weight: 300;
        font-size: 14px;
        color: #4A4A4A;
        line-height: 25px;
      }

      &-link {
        margin-top: 12px;
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        color: #4A92AB;
      }

      &-more {
        text-align: right;
        margin-top: 20px;
        font-size: 14px;
        color: #4A92AB;
        a{ color: #4A92AB;}
      }
    }

    .bulletins-and-events {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      margin-top: 90px;
      margin-bottom: 74px;
    }

    .bulletins {
      flex: 0 0 48%;

      &-header {
        background: #4A92AB;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        text-transform: uppercase;

        padding: 24px 50px;
      }

      &-item {
        background: #F6F6F6;
        padding: 15px 40px 15px 45px;
        font-weight: 300;
        font-size: 14px;
        color: #4A4A4A;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        &:nth-child(odd) {
          background: #FBFBFA;
        }
      }

      &-download {
        padding: 11px 19px;
        border: 2px solid #4A92AB;
        font-weight: 400;
        color: #4A92AB;
        text-transform: uppercase;
      }

      &-more {
        margin-top: 20px;
        text-align: right;
        font-size: 14px;
        color: #4A92AB;
        display: block;
        width: 100%;
        a {color: #4A92AB;}
      }
    }

    .events {
      flex: 0 0 48%;

      &-header {
        background: #4A92AB;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        text-transform: uppercase;

        padding: 24px 50px;
      }

      &-item {
        position: relative;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 16px 40px 15px 45px;

        background: #F6F6F6;

        &:nth-child(odd) {
          background: #FBFBFA;
        }
      }

      &-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      &-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }

      &-date {
        font-size: 15px;
        color: #4A4A4A;

        padding-top: 12px;
        padding-bottom: 12px;

        padding-right: 34px;
        border-right: 1px solid #E8E8E8;
      }

      &-name {
        font-weight: 300;
        font-size: 14px;
        color: #4A4A4A;

        padding-left: 30px;
      }

      &-arrow {
        background: url('~assets/images/arrow-right.svg') no-repeat center center / contain;
        width: 11px;
        height: 31px;
      }

      &-more {
        margin-top: 20px;
        text-align: right;
        font-size: 14px;
        color: #4A92AB;
        display: block;
        width: 100%;
        a{color: #4A92AB;}

      }
    }

    .worship {
      &-header {
        background: #4A92AB;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        text-transform: uppercase;

        padding: 24px 50px;
      }

      &-content {
        background: #FBFBFA;
        padding: 33px 50px 38px;
      }

      &-tabs {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        background: #F7F7F7;
        margin-bottom: 26px;

        border-radius: 8px;
      }

      &-tab {
        font-weight: 500;
        font-size: 15px;
        color: #4A4A4A;

        padding: 16px 30px 15px 20px;

        border-radius: 15px;
        cursor: pointer;

        position: relative;

        &:after {
          content: '';
          background: url('~assets/images/worship-arrow-right.svg') no-repeat center center / contain;
          width: 8px;
          height: 12px;

          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
        }

        &Active {
          background: #585858;
          color: #fff;

          &:after {
            background: url('~assets/images/worship-arrow.svg') no-repeat center center / contain;
            width: 12px;
            height: 8px;
          }
        }
      }

      &-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px #E8E8E8 solid;
        padding: 16px 30px 8px;

        &:last-child {
          border: none;
        }
      }

      &-left {
        flex: 0 0 32%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }

      &-name,
      &-time,
      &-language {
        font-weight: 300;
        font-size: 14px;
        color: #4A4A4A;
      }

      &-language {
        flex: 0 0 20%;
      }

      &-more {
        margin-top: 20px;
        text-align: right;
        font-size: 14px;
        color: #4A92AB;
        a{ color: #4A92AB;}
      }
    }

    .pastor-and-about {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      margin-top: 72px;
      margin-bottom: 72px;
    }

    .about,
    .pastor {
      background: #FBFBFA;

      &-image {
        position: relative;
        height: 265px;
      }

      &-label {
        position: absolute;
        bottom: 0;
        left: 0;

        font-weight: 500;
        font-size: 18px;
        color: #4C889C;
        text-transform: uppercase;

        background: rgba(255,255,255,0.95);

        padding: 18px 25px;
      }

      &-content {
        padding: 36px;
      }

      &-title {
        font-weight: 500;
        font-size: 15px;
        color: #5C5C5C;

        margin-bottom: 13px;
      }

      &-text {
        font-weight: 300;
        font-size: 14px;
        color: #5C5C5C;
        line-height: 25px;

        margin-bottom: 11px;
      }

      &-more {
        font-size: 14px;
        color: #4A92AB;
      }
    }

    .about {
      flex: 0 0 60%;

      &-image {
        background: url('~assets/images/home-about.jpg') no-repeat center center / cover;
      }
    }

    .pastor {
      flex: 0 0 36%;

      &-image {
        background: url('~assets/images/home-pastor.jpg') no-repeat center center / cover;
      }
    }

    .mission {
      text-align: center;
      padding: 55px 0 45px;
      background: #4A92AB;
      font-weight: 300;
      font-size: 15px;
      color: #FFFFFF;
      line-height: 25px;

      position: relative;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 27.5px 0 27.5px;
        border-color: #ffffff transparent transparent transparent;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      .container {
        padding: 0 15%;
      }
    }
  }

  .worship_mobile {
    display: none;
    margin-top: 15px;

    &-header {
      text-transform: uppercase;
      text-align: center;
      padding: 15px 0;
      background: #4A92AB;
      color: #fff;
    }

    &-content {
      background: #FBFBFA;
      padding: 0 20px;

      &:not(:nth-child(2)) {
        padding-top: 20px;
      }

      &:last-child {
        padding-bottom: 50px;
        margin-bottom: 20px;
      }
    }

    &-label {
      text-align: center;
      color: #4A92AB;
      text-transform: uppercase;
      padding-top: 25px;
    }

    &-tabs {
      margin-top: 20px;
    }

    &-tab {
      border-bottom: 1px solid #C0C0C0;
      padding: 10px 0;
    }

    &-day {
      font-size: 18px;
      color: #4A4A4A;
      position: relative;
    }

    &-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: #4A92AB;
      border: 1px solid #4A92AB;
      font-size: 20px;
      line-height: 0;

      &::after {
        content: '+';
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;
      }
    }

    &-tabActive {
      color: #4A4A4A;
      .worship_mobile-icon::after {
        content: '–';
        top: 48%;
      }
    }

    &-name {
      font-size: 14px;
    }

    &-language {
      text-transform: uppercase;
      font-size: 14px;
    }

    &-time {
      font-size: 14px;
    }

    &-item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-top: 10px;

      &:nth-child(2) {
        margin-top: 20px;
      }
    }
  }


  @media (max-width: 768px) {
    .worship_mobile {
      display: block;
    }

    .home {
      display: flex;
      flex-flow: column nowrap;

      .bulletins-and-events,
      .articles {
        display: none;
      }

      .worship {
        margin-top: 30px;
        display: none;
      }

      .pastor-and-about {
        flex-flow: column nowrap;
        margin-bottom: 30px;

        width: 100%;

        .about {
          margin-bottom: 32px;
          background: transparent;

          &-image {
            height: 180px;
          }
        }

        .about,
        .pastor {

          &-label {
            width: 100%;
            text-align: center;
            background: rgba(255, 255, 255, 0.9);
          }

          &-content {
            padding: 20px;
          }
        }
      }

      .mission {
        width: 100%;
        padding: 40px 0;

        .container {
          padding: 0 15px;
        }
      }
    }

    .news {
      display: none;
    }

    .home .news_mobile {
      display: block;
      margin: 40px 0;

      &-headerIcon {
        background: url('~assets/images/church.svg') no-repeat center center / contain;
        width: 15px;
        height: 22px;
        margin-right: 10px;
        margin-bottom: 5px;
      }

      &-header {
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        padding: 14px 0px;
        text-align: center;
        color: #FFFFFF;

        background: #4A92AB;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }

      &-item {
        background: #FBFBFA;
        position: relative;
        padding: 30px 20px;
        display: block;

        &:nth-child(even) {
          background: #F7F7F7;
        }
      }

      &-title {
        font-size: 18px;
        color: #4A4A4A;
      }

      &-subtitle {
        font-weight: 300;
        font-size: 14px;
        color: #4A4A4A;

        margin-top: 5px;
      }

      &-icon {
        background: url('~assets/images/arrow-right-news.svg') no-repeat center center / contain;
        height: 40px;
        width: 14px;

        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
</style>
