<template lang="pug">
  .ministries-view
    .ministries
      header-component(type="small" title="ministries")
      .container
        .ministries-heading
          | {{deepFind(Parish, 'name')}}

        .ministries-wrapper
          subnav-component
          .ministries-content
            .ministries-contentImage(v-if="Ministry.image !== undefined" v-bind:style="{ backgroundImage: 'url(' + deepFind(Ministry,'image.file') || '' + ')'}")
            .ministries-box(v-for="ministry in Ministry")
              .ministries-contentTitle
                | {{ministry.name}}
              .ministries-contentText(v-html="ministry.detail")

      announcement-component
      footer-component
</template>
<script>
  import FooterComponent       from '../components/Footer';
  import HeaderComponent       from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';
  import SubnavComponent       from '../components/Subnav';

  export default {
    name: "ProgramsComponent",

    data () {
      return {
        ...DATA
      }
    },

    methods: {
      deepFind(obj, path) {
        var paths = path.split('.')
          , current = obj
          , i;

        for (i = 0; i < paths.length; ++i) {
          if (current[paths[i]] == undefined) {
            return undefined;
          } else {
            current = current[paths[i]];
          }
        }
        return current;
      }
    },

    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent,
      SubnavComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .ministries-view {
    .ministries {
      &-heading {
        font-size: 33px;
        color: #4A92AB;
        padding-bottom: 8px;
        border-bottom: 1px #D7D7D7 solid;
        margin-top: 75px;
        margin-bottom: 40px;
      }

      &-wrapper {
        display: flex;
        flex-flow: row nowrap;

        margin-bottom: 56px;
      }

      &-content {
        margin-left: 38px;
        flex: 1;

        &Image {
          width: 100%;
          height: 200px;
          background: no-repeat center center / cover;
          margin-bottom: 34px;
        }

        &Title {
          margin-bottom: 5px;

          font-size: 18px;
          color: #4A4A4A;
          line-height: 30px;
        }

        &Text {
          margin-bottom: 34px;

          font-weight: 300;
          font-size: 14px;
          color: #4A4A4A;
          line-height: 30px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .ministries-view .ministries {
      &-heading {
        font-size: 22px;
        margin-bottom: 20px;
      }

      &-wrapper {
        display: block;
      }

      &-content {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
</style>
