<template lang="pug">
  .sacraments-view
    .sacraments
      header-component(type="small" title="SACRAMENTS")

      .container
        .sacraments-wrapper
          .sacraments-nav
            .sacraments-navHeader
              | {{ Object.keys(Sacrament).length }} {{$tc('pages.sacraments.sacramentsNavHeader', Object.keys(Sacrament).length)}}
            .sacraments-navItem(
              v-for="(sacrament, index) of Sacrament"
              @click="onSacrClick(sacrament)"
              v-bind:class="{ 'sacraments-navItemActive' : sacrament.name == activeSacr.name }"
              )
              | {{ sacrament.name }}
          .sacraments-content
            .sacraments-heading
              | {{ activeSacr.name }}
            .sacraments-text(v-html="activeSacr.detail")

      announcement-component
      footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';

  export default {
    name: "SacramentsComponent",

    data () {
      console.log(!!DATA.Sacrament ? DATA.Sacrament[0] : undefined)
      return {
        ...DATA,
        activeSacr: !!DATA.Sacrament ? DATA.Sacrament[0] : undefined
      }
    },

    methods: {
      onSacrClick(sacr) {
        this.activeSacr = sacr;
      }
    },

    mounted: function() {
    },

    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .sacraments-view {
    .sacraments {
      &-heading {
        font-size: 33px;
        color: #4A92AB;
        padding-bottom: 8px;
        border-bottom: 1px #D7D7D7 solid;
      }

      &-wrapper {
        display: flex;
        flex-flow: row nowrap;

        padding: 80px 0 70px;
      }

      &-nav {
        flex: 0 0 360px;

        display: flex;
        flex-flow: column nowrap;

        &Header {
          padding: 22px 42px 22px;

          background: #797979;
          font-weight: 500;
          font-size: 18px;
          color: #FFFFFF;
          text-transform: uppercase;
        }

        &Item {
          padding: 22px 42px 22px;

          background: #FBFBFA;
          font-weight: 300;
          font-size: 18px;
          color: #4A4A4A;

          cursor: pointer;

          &:hover {
            background: #F7F7F7;
          }

          &Active {
            background: #4A92AB;
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;

            position: relative;

            &:hover {
              background: #4A92AB;
            }

            &:before {
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 32px 0 32px 15px;
              border-color: transparent transparent transparent #4a93ab;
              position: absolute;
              top: 50%;
              right: -15px;
              transform: translateY(-50%);
            }
          }
        }
      }

      &-content {
        flex: 1;
        margin-left: 70px;
      }

      &-subheading {
        font-size: 18px;
        color: #4A4A4A;
        line-height: 30px;

        margin-top: 35px;
      }

      &-text {
        font-weight: 300;
        font-size: 14px;
        color: #4A4A4A;
        line-height: 30px;

        margin-bottom: 35px;
      }

      &-link {
        font-weight: 500;
        color: #4A92AB;
      }
    }
  }

  @media (max-width: 768px) {
    .sacraments-view .sacraments {
      &-heading {
        font-size: 22px;
        margin-bottom: 20px;
      }

      &-nav {
        flex: 1;
      }

      &-navItem:before {
        content: none;
      }

      &-wrapper {
        padding: 40px 0;
        display: block;
      }

      &-content {
        margin-left: 0;
        margin-top: 40px;
      }
    }
  }
</style>
