<template lang="pug">
  .staff-view
    .staff
      header-component(type="small" title="staff directory")
      .container
        .staff-heading
          | {{$t('pages.staff.staffHeading')}}
        .staff-list
          .staff-item(v-for="(item, i) of Staff")
            .staff-photo
              .staff-photoImage(v-bind:style="{ backgroundImage: 'url(' + deepFind(item,'photo.file') || '' + ')' }")
            .staff-info
              .staff-infoItem
                .staff-name
                  | {{ item.nameFirst }} {{ item.nameLast }}
                .staff-role
                  | {{ deepFind(item, 'position.name') }}
              .staff-infoItem
                .staff-infoSubitem
                  .staff-email
                    | {{ item.email }}
                  .staff-phone
                    | {{ item.phone }}
                a.staff-button(:href="'mailto:' + item.email")
                  .staff-buttonIcon
      announcement-component
      footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';

  export default {
    name: "StaffComponent",

    data () {
      return {
        ...DATA,
      }
    },
    methods: {
      deepFind(obj, path) {
        var paths = path.split('.')
          , current = obj
          , i;

        for (i = 0; i < paths.length; ++i) {
          if (current[paths[i]] == undefined) {
            return undefined;
          } else {
            current = current[paths[i]];
          }
        }
        return current;
      }
    },

    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .staff-view {
    .staff {
      &-heading {
        font-size: 33px;
        color: #4A92AB;
        padding-bottom: 8px;
        border-bottom: 1px #D7D7D7 solid;
        margin-top: 75px;
        margin-bottom: 40px;
      }

      &-list {
        margin-bottom: 86px;
      }

      &-item,
      &-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }

      &-item {
        margin-bottom: 41px;
      }

      &-photo {
        height: 150px;
        flex: 0 0 150px;
        border-radius: 150px;
        margin-right: 58px;
        background: no-repeat center center / cover;
        background-image: url('~assets/images/empty-face.png');

        position: relative;
        overflow: hidden;

        &Image {
          width: 100%;
          height: 100%;
          background: transparent center center no-repeat / cover;
        }
      }

      &-info {
        flex: 1;
        position: relative;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        background: #F7F7F7;

        padding: 28px 39px 28px 64px;

        &:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 35px 36px 35px 0px;
          border-color: transparent #F7F7F7 transparent transparent;
          position: absolute;
          top: 50%;
          left: -36px;
          transform: translateY(-50%);
        }

        &Item {
          flex: 0 0 50%;
          padding: 21px 0;

          &:first-child {
            border-right: 2px #E8E8E8 solid;
          }

          &:last-child {
            padding-left: 56px;

            display: flex;
            flex-flow: row nowrap;
            align-items: center;
          }
        }

        &Subitem {
          flex: 1;
        }
      }

      &-name {
        font-size: 24px;
        color: #4A4A4A;
        line-height: 30px;
      }

      &-role {
        font-size: 14px;
        color: #797979;
      }

      &-email,
      &-phone {
        font-weight: 300;
        font-size: 14px;
        color: #4A4A4A;
      }

      &-button {
        flex: 0 0 50px;
        height: 50px;

        border-radius: 100px;
        position: relative;

        background: #fff;

        cursor: pointer;

        &Icon {
          background: url('~assets/images/staff-mail.svg') no-repeat center center / contain;
          width: 25px;
          height: 26px;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .staff-view .staff {
      &-heading {
        font-size: 22px;
        margin-bottom: 20px;
      }

      &-list {
        margin-bottom: 50px;
      }

      &-item {
        display: block;
        background: #F7F7F7;
        padding: 25px 0;

        margin-top: 30px;
        margin-bottom: 20px;
      }

      &-photo {
        width: 75px;
        height: 75px;
        margin: 0 auto;
      }

      &-info {
        display: block;
        align-items: initial;

        padding: 0 20px;
        width: 100%;

        &:before {
          content: none;
        }
      }

      &-infoItem {
        padding: 10px 0;

        &:first-child {
          border-right: none;
        }

        &:last-child {
          padding-left: 0;
          padding-bottom: 0;
        }
      }

      &-name {
        font-size: 20px;
        text-align: center;
      }
    }
  }
</style>
