<template lang="pug">
  .worship-view
    .worship
      header-component(type="small" title="worship")

      .container
        .worship_mobile
            .worship_mobile-header
              | {{$t('pages.worship.header')}}
            .worship_mobile-content
              .worship_mobile-label
                |{{$t('pages.worship.massTimes')}}
              .worship_mobile-tabs
                .worship_mobile-tab(
                  v-for="(day, index) in $t('daysOfWeek.large')"
                  @click="selectDayMass(index)"
                  v-bind:class=" selectedDayMass==index ? 'worship_mobile-tabActive' : '' ")
                  .worship_mobile-day
                    | {{ day }}
                    .worship_mobile-icon

                  .worship_mobile-item(v-if="selectedDayMass==index && worship.type == 'mass'" v-for="worship in events[daysOfWeek[selectedDayMass]]")

                    .worship_mobile-time
                      | {{ worship.timeStart | toAmPmTime }}
                    .worship_mobile-name
                      | {{ worship.name }}
                    .worship_mobile-language
                      | {{ deepFind(worship, 'language.name') }}

            .worship_mobile-content
              .worship_mobile-label
                | {{$t('pages.worship.confessionTimes')}}
              .worship_mobile-tabs
                .worship_mobile-tab(
                  v-for="(day, index) in $t('daysOfWeek.large')"
                  @click="selectDayConf(index)"
                  v-bind:class=" selectedDayConf==index ? 'worship_mobile-tabActive' : '' ")
                  .worship_mobile-day
                    | {{ day }}
                    .worship_mobile-icon

                  .worship_mobile-item(v-if="selectedDayConf==index && worship.type == 'confession'" v-for="worship in events[daysOfWeek[selectedDayConf]]")


                    .worship_mobile-time
                      | {{ worship.timeStart | toAmPmTime }}
                    .worship_mobile-name
                      | {{ worship.name }}
                    .worship_mobile-language
                      | {{ deepFind(worship, 'language.name') }}

            .worship_mobile-content
              .worship_mobile-label
                | {{ $t('pages.worship.otherTimes') }}
              .worship_mobile-tabs
                .worship_mobile-tab(
                  v-for="(day, index) in $t('daysOfWeek.large')"
                  @click="selectDayOther(index)"
                  v-bind:class=" selectedDayOther==index ? 'worship_mobile-tabActive' : '' ")
                  .worship_mobile-day
                    | {{ day }}
                    .worship_mobile-icon

                  .worship_mobile-item(v-if="selectedDayOther==index && worship.type == 'other'" v-for="worship in events[daysOfWeek[selectedDayOther]]")

                    .worship_mobile-time
                      | {{ worship.timeStart | toAmPmTime }}
                    .worship_mobile-name
                      | {{ worship.name }}
                    .worship_mobile-language
                      | {{ deepFind(worship, 'language.name') }}
        .worship-heading
          | {{ $t('pages.worship.header') }}

        .worship-table
          .worship-tableHeader
            .worship-item(v-for="dayOfWeek of $t('daysOfWeek.short')")
              | {{dayOfWeek}}
          .worship-schedule
            .worship-item(v-for="day of daysOfWeek")
              .worship-event(v-for="event of events[day]" v-bind:class="'worship-' + event.type")
                .worship-name
                  | {{event.name}}
                .worship-time
                  | {{event.timeStart | toAmPmTime}}
                .worship-language
                  | {{deepFind(event, 'language.name')}}



        .worship-scheduleKey
          .worship-scheduleTitle
            | {{ $t('pages.worship.scheduleTitle') }}
          .worship-scheduleItem
            | {{ $t('pages.worship.scheduleItem') }}
            .worship-rectangle.worship-mass
          .worship-scheduleItem
            | {{ $t('pages.worship.scheduleItemConfession') }}
            .worship-rectangle.worship-confessions
          .worship-scheduleItem
            | {{ $t('pages.worship.scheduleItemDevotions') }}
            .worship-rectangle.worship-devotions

      announcement-component
      footer-component
</template>
<script>
  import FooterComponent from '../components/Footer';
  import HeaderComponent from '../components/Header';
  import AnnouncementComponent from '../components/Announcements';
  const daysOfWeek = [
    'sunday',
    'monday',
    'tuesday',
    'wednesday',
    'thursday',
    'friday',
    'saturday',
  ]

  function sortByTime(a, b) {
    const tempA = new Date(a.timeStart).setHours(0,0,0,0)
    const tempB = new Date(b.timeStart).setHours(0,0,0,0)

    const timeA = new Date(a.timeStart - tempA)
    const timeB = new Date(a.timeStart - tempA)

    return timeA - timeB
  }

  export default {
    name: "WorshipComponent",
    data() {
      return {
        ...DATA,
        daysOfWeek: daysOfWeek,
        masses: DATA.MassTime,
        confessions: DATA.ConfessionTime,
        other: DATA.OtherTime,
        selectedDayConf: 0,
        selectedDayMass: 0,
        selectedDayOther: 0
      }
    },
    computed: {
      events() {
        const { masses, confessions, other } = this
        return [
          ...(Object.keys(masses|| {}).map( e=> masses[e]) || []),
          ...(Object.keys(confessions|| {}).map( e=> confessions[e]) || []),
          ...(Object.keys(other|| {}).map( e=> other[e]) || [])
        ].reduce((days, event) => {

          if (event.hasOwnProperty('massType')) {
            event['type'] = 'mass';
            event['name'] = this.deepFind(event, 'massType.name')
          } else if (event.hasOwnProperty('type')) {
            event['name'] = this.deepFind(event, 'type.name')
            event['type'] = 'other';
          } else {
            event['type'] = 'confession';
            event['name'] = 'Confession'
          }

          daysOfWeek.forEach(day => {
            if (event[day]) {
              days[day] = [...days[day], event].sort(sortByTime)
            }
          })
          return days
        }, daysOfWeek.reduce((s, d) => { return { ...s, [d]: [] } }, {}))
      }
    },
    filters: {
      toAmPmTime(date) {
         let hours = new Date(date).getHours();
         let minutes = new Date(date).getMinutes();
         const ampm = hours >= 12 ? 'PM' : 'AM';
         hours = hours % 12;
         hours = hours ? hours : 12; // the hour '0' should be '12'
         minutes = minutes < 10 ? '0'+minutes : minutes;
         return hours + ':' + minutes + ' ' + ampm;
      }
    },
    methods: {
      deepFind(obj, path) {
        var paths = path.split('.')
          , current = obj
          , i;

        for (i = 0; i < paths.length; ++i) {
          if (current[paths[i]] == undefined) {
            return undefined;
          } else {
            current = current[paths[i]];
          }
        }
        return current;
      },
      selectDay(i){
        this.selectedDay = i;
      },
      selectDayMass(i){
        this.selectedDayMass = i;
      },
      selectDayConf(i){
        this.selectedDayConf = i;
      },
      selectDayOther(i){
        this.selectedDayOther = i;
      },
    },
    components: {
      HeaderComponent,
      FooterComponent,
      AnnouncementComponent
    }

  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .worship-view {
    .worship {
      &-heading {
        font-size: 33px;
        color: #4A92AB;
        padding-bottom: 8px;
        border-bottom: 1px #D7D7D7 solid;

        margin-bottom: 34px;
        margin-top: 80px;
      }

      &-tableHeader {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        background: #4A92AB;

        font-size: 18px;
        color: #FFFFFF;

        padding: 15px 0;
        margin-bottom: 27px;
      }

      &-item {
        flex: 1;
        text-align: center;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
      }

      &-schedule {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      &-event {
        min-height: 97px;
        font-size: 14px;
        color: #4A4A4A;
        line-height: 20px;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px 12px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        width: 90%;

        &.worship-mass {
          background: rgba(245,165,35,0.15);
        }

        &.worship-confession {
          background: #D8F1BC;
        }

        &.worship-other {
          background: #DBE9F9;
        }
      }

      &-name {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.6em;
        line-height: 18px;
        width: 100%;
      }

      &-language,
      &-time {
        font-weight: 300;
      }

      &-scheduleKey {
        margin-top: 50px;
        text-align: right;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;

        padding-bottom: 113px;
      }

      &-scheduleTitle {
        font-size: 14px;
        color: #5C5C5C;

        border-bottom: 1px solid #D7D7D7;

        padding-bottom: 6px;
        margin-bottom: 4px;
      }

      &-scheduleItem {
        font-size: 14px;
        color: #5C5C5C;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        margin-top: 11px;
      }

      &-rectangle {
        height: 19px;
        width: 106px;
        margin-left: 15px;

        &.worship-mass {
          background: rgba(245,165,35,0.15);
        }

        &.worship-confessions {
          background: #D8F1BC;
        }

        &.worship-devotions {
          background: #DBE9F9;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 0 15px;
    }
    .worship-view .worship {

      &-table,
      &-scheduleKey,
      &-heading {
        display: none;
      }
    }
  }
</style>
