<template lang="pug">
  #app
    router-view
</template>

<script>
  import 'whatwg-fetch';


  export default {
    name: "App",

    data () {
      return {
        ...DATA
      }
    },

    mounted () {
    },

    methods: {

    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  @import 'normalize.css';
  @font-face {
  	font-family: 'Montserrat';
  	src: url('~assets/fonts/Montserrat-Light.eot');
  	src: url('~assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  		url('~assets/fonts/Montserrat-Light.woff') format('woff'),
  		url('~assets/fonts/Montserrat-Light.ttf') format('truetype');
  	font-weight: 300;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'Montserrat';
  	src: url('~assets/fonts/Montserrat-Thin.eot');
  	src: url('~assets/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
  		url('~assets/fonts/Montserrat-Thin.woff') format('woff'),
  		url('~assets/fonts/Montserrat-Thin.ttf') format('truetype');
  	font-weight: 100;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'Montserrat';
  	src: url('~assets/fonts/Montserrat-Regular.eot');
  	src: url('~assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  		url('~assets/fonts/Montserrat-Regular.woff') format('woff'),
  		url('~assets/fonts/Montserrat-Regular.ttf') format('truetype');
  	font-weight: normal;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'Montserrat';
  	src: url('~assets/fonts/Montserrat-SemiBold.eot');
  	src: url('~assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  		url('~assets/fonts/Montserrat-SemiBold.woff') format('woff'),
  		url('~assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  	font-weight: 600;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'Montserrat';
  	src: url('~assets/fonts/Montserrat-Bold.eot');
  	src: url('~assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  		url('~assets/fonts/Montserrat-Bold.woff') format('woff'),
  		url('~assets/fonts/Montserrat-Bold.ttf') format('truetype');
  	font-weight: bold;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'Montserrat';
  	src: url('~assets/fonts/Montserrat-Medium.eot');
  	src: url('~assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  		url('~assets/fonts/Montserrat-Medium.woff') format('woff'),
  		url('~assets/fonts/Montserrat-Medium.ttf') format('truetype');
  	font-weight: 500;
  	font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  html {
    overflow: hidden;
    overflow-y: scroll;
  }

  body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    overflow-y: scroll;
  }

  a {
    text-decoration: none;
  }

  input,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  #app {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    overflow-y: scroll;
  }

  .container {
    max-width: 1160px;
    padding: 0 30px;
    position: relative;
    margin: 0 auto;
  }

  @media (max-width: 768px) {

    body {
      padding-top: 80px;
    }

    .container {
      padding: 0 15px;
    }
  }
</style>
