doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Parish
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  //link(rel="icon" href=require("assets/images/globecom.png"))
body
  #app
