<template lang="pug">
    //- .announcement(v-if="type !== 'black'")
    //-   .container
    //-     .announcement-left
    //-       .announcement-title
    //-         | PARISH
    //-         br
    //-         | ANNOUNCEMENTS
    //-         span August 20, 2016
    //-     .announcement-right
    //-       .announcement-info
    //-         .announcement-title
    //-           | Interested in becoming Catholic? - Inquiry Session
    //-         .announcement-text
    //-           | Our Cathedral Christian Initiation Ministry, RCIA, invites anyone interested in Baptism, Becoming a Roman Catholic or completing their RCIA to join us on Saturday, August 20th from 9am to 11am at the Cathedral Conference Center …
    //-     .announcement-button
    //-       router-link.button(to="/announcements/")
    //-         | READ MORE
    //-
    //- .announcement(v-bind:class="{'black': type == 'black'}" v-if="type == 'black'")
    //-   .container
    //-     .announcement-left
    //-       .announcement-title
    //-         | MENSAJE DE LA
    //-         br
    //-         | SEMANA
    //-         span December 20, 2016
    //-     .announcement-right
    //-       .announcement-info
    //-         .announcement-title
    //-           | Welcome to our New Website!
    //-         .announcement-text
    //-           | Our parish is proud to announce the launch of our newly created website. Thanks to the Parish Connect team at the Archdiocese of Los Angeles for providing us with the tools and training to build and maintain our very own online presence…
    //-     .announcement-button
    //-       router-link.button(to="/announcements/")
    //-         | READ MORE

    .announcement.black
      .container
        .announcement-left
          .announcement-title
            | {{$t('components.announcements.announcementTitle')}}
            span
              | {{ lastAnnouncement.date | formatDate }}
        .announcement-right
          .announcement-info
            .announcement-title
              | {{ lastAnnouncement && lastAnnouncement.name }}
            .announcement-text
              | {{ lastAnnouncement && lastAnnouncement.description }}
        .announcement-button
          router-link.button(to="/anuncios/")
            | {{$t('components.announcements.announcementButton')}}
</template>
<script>
  import moment from 'moment';
  export default {
    name: "AnnouncementComponent",

    props: ['type'],

    data() {
      return {
        ...DATA
      }
    },

    mounted() {
    },

    computed: {
       lastAnnouncement: function() {
         return Object.keys(DATA.Announcement || {}).map(i => {
           return DATA.Announcement[i]
         }).sort((a,b)=>{return b.date-a.date})[0] || {}
       }
    },
    filters: {
        formatDate(date) {
          return moment(new Date(date)).format('MMMM D, YYYY')
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .announcement {
    padding: 40px 0;
    background: #F7F7F7;
    position: relative;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 27.5px 0 27.5px;
      border-color: #ffffff transparent transparent transparent;

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    &-left {
      flex: 0 0 20%;

      text-align: right;
      padding-right: 30px;

      border-right: 1px #E8E8E8 solid;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      .announcement-title {
        padding: 10px 0;

        font-weight: 500;
        font-size: 18px;
        color: #4A92AB;

        display: flex;
        flex-flow: column nowrap;
      }

      span {
        margin-top: 9px;
        font-weight: 300;
        font-size: 13px;
        color: #848681;
      }
    }

    &-right {
      flex: 0 0 66%;
      padding-left: 30px;
      padding-right: 40px;

      .announcement-title {
        font-weight: 500;
        font-size: 15px;
        color: #5C5C5C;
      }

      .announcement-text {
        margin-top: 11px;

        font-weight: 300;
        font-size: 14px;
        color: #797979;
        line-height: 25px;
      }
    }

    &-button {
      flex: 0 0 14%;

      .button {
        display: block;
        cursor: pointer;
        padding: 13px 12px 11px;
        background: #4A92AB;
        font-weight: 300;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
      }
    }
  }

  .black {
    background: url('~assets/images/announcements.png') no-repeat center center / cover;

    .announcement-left .announcement-title {
      font-weight: 500;
      font-size: 18px;
      color: #FFFFFF;

      span {
        font-weight: 300;
        font-size: 13px;
        color: #FFFFFF;
      }
    }

    .announcement-right .announcement-title {
      font-weight: 500;
      font-size: 15px;
      color: #FFFFFF;
    }

    .announcement-text {
      font-weight: 300;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 25px;
    }
  }


  @media (max-width: 768px) {
    .announcement {
      .container {
        flex-flow: column nowrap;
        justify-content: center;
      }

      &-left {
        text-align: center;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
        flex: initial;
      }

      &-left &-title span {
        padding-top: 25px;

        position: relative;

        &:before {
          content: '';
          height: 1px;
          width: 100px;
          background: #fff;

          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%);
        }
      }

      &-right {
        text-align: center;
        padding: 0;
        flex: initial;
      }

      &-right &-text {
        margin-top: 20px;
      }

      &-button {
        margin-top: 25px;
        flex: initial;

        width: 50%;
        max-width: 330px;
      }
    }
  }
</style>
