<template lang="pug">
  .events
    .events-header
      | {{$t('components.events.eventsHeader')}}
    .events-content
      .events-day(v-if="Object.keys(events).length > 0" v-for="(events, day) in events")
        .events-date
          | {{day | dayName}}
        .events-items
          .events-item(v-for="(event, index) in events")
            .events-itemTitle
              | {{event.name}}
            .events-itemTime
              | {{event.timeStart | toAmPmTime}} - {{event.timeEnd | toAmPmTime}}
            .events-itemPlace
              | @ {{event.place}}
            router-link.events-more(v-bind:to="'/calendario/eventos/'+index+'/'")
              | {{$t('components.events.eventsMore')}}

      .events-none(v-if="Object.keys(events).length < 1")
        | {{$t('components.events.eventsNone')}}

</template>
<script>
  import moment from 'moment';
  export default {
    name: "EventsComponent",
    props: ['events', 'selected'],
    mounted() {
      console.log(this.events)
    },
    filters: {
      toAmPmTime(date) {
         let hours = new Date(date).getHours();
         let minutes = new Date(date).getMinutes();
         const ampm = hours >= 12 ? 'PM' : 'AM';
         hours = hours % 12;
         hours = hours ? hours : 12; // the hour '0' should be '12'
         minutes = minutes < 10 ? '0'+minutes : minutes;
         return hours + ':' + minutes + ' ' + ampm;
      },
      dayName(val) {
        return moment(new Date(+val)).format('dddd, MMMM D')
      }
    },
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .events {
    flex: 0 0 26.4%;

    &-none {
      text-align: center;
      padding: 30px 0;
      font-weight: 400;
      font-size: 14px;
    }

    &-header {
      background: #797979;

      font-size: 18px;
      color: #FFFFFF;
      text-transform: uppercase;

      padding: 44px 0 43px;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      position: relative;
    }

    &-content {
      background: #F7F7F7;
    }

    &-date {
      font-size: 18px;
      color: #4A4A4A;
      padding: 59px 0 53px;
      text-align: center;

      position: relative;

      &:after {
        content: '';
        width: 30%;
        height: 1px;
        background: #D7D7D7;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        bottom: 0px;
      }
    }

    &-items {
      overflow-y: scroll;
      max-height: 373px;
    }

    &-item {
      text-align: center;

      padding: 30px 0;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      position: relative;

      &:after {
        content: '';
        width: 30%;
        height: 1px;
        background: #D7D7D7;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }

      &:last-child:after {
        content: none;
      }
    }

    &-itemTitle {
      font-size: 18px;
      color: #4A4A4A;
    }

    &-itemTime {
      margin-top: 6px;
    }

    &-itemTime,
    &-itemPlace {
      font-weight: 300;
      font-size: 14px;
      color: #4A4A4A;
    }

    &-more {
      margin-top: 3px;
      font-size: 14px;
      color: #4A92AB;
    }
  }
</style>
