<template lang="pug">
  .footer
    .adla
      .container
        a.adla-button(:href="e.url" v-for="(e, i) in LinksMenu" target="_blank")
          | {{ e.name }}
    .container
      //- .footer-buttons
      //-   a.footer-button(href="http://www.la-archdiocese.org/Pages/Help/PrivacyPolicy.aspx" target="_blank")
      //-     | {{$t('components.footer.privacyPolicy')}}
      //-   .footer-line
      //-   a.footer-button(href="http://www.la-archdiocese.org/Pages/Help/TermsofUse.aspx" target="_blank")
      //-     | {{$t('components.footer.termsOfUse')}}
      //-   .footer-line
      //-   router-link.footer-button(to="/contacto/")
      //-     | {{$t('components.footer.contact')}}
      .footer-copy
        | {{$t('components.footer.footerCopy')}}
</template>
<script>
  export default {
    name: "FooterComponent",

    data() {
      return {
        ...DATA
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .footer {
    background: #353535;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .adla {
      padding: 35px 0;
      background: #fff;

      .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }

      &-button {
        background: #353535;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        width: 176px;
        height: 60px;
        padding: 15px 30px;

        text-align: center;
        font-weight: 300;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: -0.01px;
        line-height: 14px;
      }
    }

    & > .container {
      padding: 32px 0;
    }

    &-buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      margin-bottom: 10px;
    }

    &-line {
      height: 15px;
      background: #fff;
      width: 1px;
    }

    &-button {
      font-size: 14px;
      color: #FFFFFF;

      margin: 0 10px;
    }

    &-copy {
      font-weight: 300;
      font-size: 14px;
      color: #909090;
      text-align: center;
    }
  }


  @media (max-width: 768px) {
    .footer {
      &-buttons {
        margin-bottom: 15px;
      }

      &-copy {
        margin: 0 auto;
        text-align: center;
        width: 85%;
        line-height: 18px;
      }

      .adla {
        .container {
          flex-flow: column nowrap;
        }

        &-button {
          width: 100%;
          margin-bottom: 15px;
          font-size: 14px;
        }

        &-button:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
</style>
