<template lang="pug">
  .header
    .nav_mobile.hidden-menu

      .nav_mobile-header
        .nav_mobile-opacity
        .nav_mobile-heading
          |{{$t('components.header.navMobileHeading')}}
        .nav_mobile-close(@click="onClickMenu()")


      .nav_mobile-list
        router-link.nav_mobile-item(to="/" exact) {{menu.itemHome}}
        router-link.nav_mobile-item(to="/boletines/", v-if="$objectNotEmpty(Bulletin)") {{menu.itemBulletins}}
        .nav_mobile-item
          label.nav_mobile-label(for="checkDropdown", v-if="$objectNotEmpty(Parish)") {{menu.itemParish}}
          input#checkDropdown.nav_mobile-checkbox(type="checkbox")
          .nav_mobile-dropdown
            router-link.nav_mobile-dropdownItem(to="/acerca-de/", v-if="$objectNotEmpty(About)") {{menu.itemAbout}}
            router-link.nav_mobile-dropdownItem(to="/ministerios/", v-if="$objectNotEmpty(Ministry)") {{menu.itemMinistries}}
            router-link.nav_mobile-dropdownItem(to="/programas/", v-if="$objectNotEmpty(OtherProgram)") {{menu.itemPrograms}}
            router-link.nav_mobile-dropdownItem(to="/casa-del-parroco/", v-if="$objectNotEmpty(Rectory)") {{menu.itemRectory}}
            router-link.nav_mobile-dropdownItem(to="/sacramentos/", v-if="$objectNotEmpty(Sacrament)") {{menu.itemSacraments}}
            router-link.nav_mobile-dropdownItem(to="/personal/", v-if="$objectNotEmpty(Staff)") {{menu.itemStaff}}
        router-link.nav_mobile-item(to="/horarios/", v-if="menu.itemWorship") {{menu.itemWorship}}
        router-link.nav_mobile-item(to="/calendario/", v-if="$objectNotEmpty(Event)") {{menu.itemCalendar}}
        router-link.nav_mobile-item(to="/contacto/", v-if="menu.itemContact") {{menu.itemContact}}

    .links.hidden-links
      .container
        .links-close(@click="toggleLinks")

        a.links-item(:href="e.url" v-for="(e, i) in LinksMenu" target="_blank")
          | {{ e.name }}

        .follow(v-if="Parish.facebook !== '' || Parish.twitter !== '' || Parish.instagram !== '' || Parish.youtube !== ''")
          .follow-text
            | {{$t('components.header.followText')}}
          .follow-dropdown
            a.follow-facebook(:href="Parish.facebook" target="_blank" v-if="Parish.facebook")
              | facebook
            a.follow-twitter(:href="Parish.twitter" target="_blank" v-if="Parish.twitter")
              | twitter
            a.follow-instagram(:href="Parish.instagram" target="_blank" v-if="Parish.instagram")
              | instagram
            a.follow-youtube(:href="Parish.youtube" target="_blank" v-if="Parish.youtube")
              | youtube
        .links-toggle(@click="toggleLinks")
          .links-line

    .nav
      .container
        router-link.nav-logo(to="/" exact)
          img.nav-logoImage(:src="Parish.imageLogo.file")
        .nav-list
          router-link.nav-item(to="/" exact, v-if="menu.itemHome") {{menu.itemHome}}
          router-link.nav-item(to="/boletines/", v-if="$objectNotEmpty(Bulletin)") {{menu.itemBulletins}}
          .nav-item
            router-link(to="/acerca-d/", v-if="$objectNotEmpty(Parish)") {{menu.itemParish}}
            .nav-dropdown
              router-link.nav-dropdownItem(to="/acerca-de/", v-if="$objectNotEmpty(About)") {{menu.itemAbout}}
              router-link.nav-dropdownItem(to="/ministerios/", v-if="$objectNotEmpty(Ministry)") {{menu.itemMinistries}}
              router-link.nav-dropdownItem(to="/programas/", v-if="$objectNotEmpty(OtherProgram)") {{menu.itemPrograms}}
              router-link.nav-dropdownItem(to="/casa-del-parroco/", v-if="$objectNotEmpty(Rectory)") {{menu.itemRectory}}
              router-link.nav-dropdownItem(to="/sacramentos/", v-if="$objectNotEmpty(Sacrament)") {{menu.itemSacraments}}
              router-link.nav-dropdownItem(to="/personal/", v-if="$objectNotEmpty(Staff)") {{menu.itemStaff}}
          router-link.nav-item(to="/horarios/", v-if="menu.itemWorship") {{menu.itemWorship}}
          router-link.nav-item(to="/calendario/", v-if="$objectNotEmpty(Event)") {{menu.itemCalendar}}
          router-link.nav-item(to="/contacto/", v-if="menu.itemContact") {{menu.itemContact}}
        .nav-burger(@click="onClickMenu")


    .slider(v-bind:class="{'slider-small': type == 'small'}")
      .slider-bg(v-if="type == 'small'")
      .slider-title(v-if="type == 'small'")
        | {{ title }}
      .slider-left(v-if="type !== 'small'" @click="prev")
      .slider-right(v-if="type !== 'small'" @click="next")
      .slider-dots(v-if="type !== 'small'")
        .slider-dot(
          v-for="(e, i) in slides"
          @click="set(i)"
          v-bind:class="{'slider-dotActive': i == slideIndex}")
      transition-group(
        v-bind:name="direction")
        .slide(
          v-for="slide in activeSlide"
          v-bind:key="JSON.stringify(slide)"
          v-bind:style="{ backgroundImage: 'url(' + (deepFind(slide , 'image.file') || '') + ')'}")

    .contact
      .container
        a.contact-item.contact-phone(:href="'tel:'+Parish.phonePrimary")
          .contact-icon
          | {{ Parish.phonePrimary }}
        a.contact-item.contact-location(:href="'http://maps.google.com/?q=' + Parish.street + ' ' + Parish.city + ' ' + Parish.state + ' ' + Parish.zip" target="_blank")
          .contact-icon
          | {{ Parish.street }}, {{ Parish.city }}, {{ Parish.state }}, {{ Parish.zip }}
        a.contact-item.contact-email(:href="'mailto:'+Parish.email")
          .contact-icon
          | {{ Parish.email }}
</template>
<script>
  export default {
    name: "HeaderComponent",
    props: ['title', 'type'],
    data() {
      return {
        ...DATA,
        slides:
          Object.keys(DATA.SliderMedia || {})
            .map(i => DATA.SliderMedia[i])
            .sort((a,b) => a.position - b.position),
        slideIndex: 0,
        direction: 'left',
        menu: Object.keys(DATA.Menu)
          .reduce((v, m) =>
            DATA.Menu[m].language.encodedValue === DATA.Parish.languageDefault.encodedValue
          ? DATA.Menu[m] : v, undefined)

      }
    },

    mounted() {
      this.slides.map( slider => {
        let img = new Image();
        img.src = this.deepFind(slider, 'image.file') || '';
      })
    },

    computed: {
      activeSlide: function() {
        return this.slides
        .filter((s, i) => i===this.slideIndex)
      }
    },
    methods: {
      deepFind(obj, path) {
        var paths = path.split('.')
          , current = obj
          , i;

        for (i = 0; i < paths.length; ++i) {
          if (current[paths[i]] == undefined) {
            return undefined;
          } else {
            current = current[paths[i]];
          }
        }
        return current;
      },
      next(){
        const {slideIndex, slides } = this;
        this.direction = 'left';
        this.slideIndex = slideIndex < slides.length - 1 ? slideIndex+1 : 0
      },
      prev(){
        const {slideIndex, slides } = this;
        this.direction = 'right';
        this.slideIndex = slideIndex > 0 ? slideIndex-1 : slides.length - 1
      },
      set(i){
        this.direction = this.slideIndex < i ? 'left' : 'right';
        this.slideIndex = i
      },

      onClickMenu() {
        let menu = document.getElementsByClassName('nav_mobile')[0];
        menu.classList.toggle('hidden-menu');
      },

      toggleLinks() {
        let menu = document.getElementsByClassName('links')[0];
        menu.classList.toggle('hidden-links');
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .header {
    .links {
      background: #5C5C5C;
      position: relative;

      .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        padding: 6px 0;
      }

      &-line {
        display: none;
        background: url('~assets/images/links-line.svg') no-repeat center / contain;
        width: 17px;
        height: 2px;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
      }

      &-item {
        font-size: 12px;
        color: #FFFFFF;
        margin-right: 45px;

        &:first-child {
          font-weight: bold;
          font-size: 12px;
          color: #FFFFFF;

          border-right: 2px #fff solid;
          padding-right: 20px;

          margin-right: 50px;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .follow {
        position: absolute;
        top: 0;
        right: 0;

        z-index: 99;

        &:hover .follow-dropdown {
          display: flex;
        }

        &-text {
          background: #4A92AB;

          font-family: 'Open Sans', sans-serif;
          font-size: 13px;
          color: #FFFFFF;
          letter-spacing: -0.01px;
          text-transform: uppercase;

          padding: 11px 35px 11px 19px;

          position: relative;

          cursor: pointer;

          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4.5px 0 4.5px;
            border-color: #ffffff transparent transparent transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
          }
        }

        &-dropdown {
          padding: 5px;
          width: 100%;

          background: rgba(255,255,255,0.85);
          box-shadow: 0 2px 4px 0 rgba(122,122,122,0.50);

          display: none;
          flex-flow: column nowrap;
        }

        &-facebook,
        &-twitter,
        &-instagram,
        &-youtube {
          font-weight: 500;
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: -0.01px;
          text-align: center;

          padding: 13px 0;

          cursor: pointer;
        }

        &-facebook {
          background: #4b6fa9;
        }

        &-twitter {
          background: #4990E2;
        }

        &-instagram {
          background: #E2B04E;
        }

        &-youtube {
          background: #D0011B;
        }
      }
    }

    .nav {

      .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      &-logo {
        font-size: 30px;
        color: #4C899C;
        line-height: 82px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        &Image {
          height: 60px;
        }
      }

      &-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }

      &-burger {
        display: none;
      }

      &-item {
        font-size: 14px;
        color: #5C5C5C;
        letter-spacing: -0.01px;
        position: relative;
        margin-right: 28px;
        text-transform: uppercase;
        line-height: 90px;

        display: block;

        transition: color 0.2s ease;
        will-change: color;

        & > a {
          color: #5C5C5C;

          &.router-link-active {
            color: #4C899C;
          }
        }

        &:hover,
        & > a:hover {
          color: #4C899C;
        }

        &:hover > .nav-dropdown {
          display: flex;
        }

        &:last-child {
          margin-right: 0;
        }

        &.router-link-active {
          // font-weight: 300;
          font-size: 14px;
          color: #4C899C;
          letter-spacing: -0.01px;
        }
      }

      &-burger {
        background: url('~assets/images/menu.svg') no-repeat center / contain;
        height: 15px;
        width: 25px;
      }

      &-dropdown {
        background: rgba(74,146,171,0.85);
        padding: 18px 30px;

        min-width: 222px;

        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);

        display: none;
        flex-flow: column nowrap;
        align-items: center;

        z-index: 99;

        &:before {
          content: '';
          position: absolute;
          top: -15px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 15.5px 15px 15.5px;
          border-color: transparent transparent #4a93ab transparent;
        }

        &Item {
          margin-top: 11px;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;

          opacity: 0.85;

          transition: opacity 0.2s ease;
          will-change: opacity;

          text-transform: uppercase;
          text-align: center;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .slider {
      width: 100%;
      height: calc(100vh - 204px);

      position: relative;

      min-height: 300px;

      &.slider-small {
        height: 217px;
        min-height: initial;
      }

      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #282828;
        opacity: 0.55;
      }

      &-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 40px;
        color: #FFFFFF;
        text-transform: uppercase;
      }

      .slide {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        background: url('~assets/images/slide-1.jpg') no-repeat center center / cover;
        transition: transform .5s ease;
        transform: translate3d(0,0,0);

        &.left-enter {
          transform: translate3d(100%,0,0);
        }
        &.left-leave-active {
          transform: translate3d(-100%,0,0);
        }
        &.left-leave {
          transition-delay: .05s;
        }

        &.right-enter {
          transform: translate3d(-100%,0,0);
        }
        &.right-leave-active {
          transform: translate3d(100%,0,0);
        }
        &.right-leave {
          transition-delay: .05s;
        }

      }

      &-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 8%;
        z-index: 3;
        display: flex;
        flex-flow: row nowrap;
      }

      &-dot {
        height: 16px;
        width: 16px;
        border-radius: 100px;
        border: 2px #fff solid;

        margin-right: 15px;

        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &.slider-dotActive {
          background: #4A92AB;
        }
      }

      &-left,
      &-right {
        height: 88px;
        width: 38px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 3;
      }

      &-left {
        background: url('~assets/images/header-left.svg') no-repeat center center / contain;
        left: 3%;
      }

      &-right {
        background: url('~assets/images/header-right.svg') no-repeat center center / contain;
        right: 3%;
      }
    }

    .contact {
      padding: 33px 0 36px;
      background: #F7F7F7;

      .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }

      &-item {
        font-size: 15px;
        color: #5C5C5C;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }

      &-phone .contact-icon {
        background: url('~assets/images/phone.png') no-repeat center center / contain;
        height: 19px;
        width: 20px;
        margin-right: 12px;
      }

      &-location .contact-icon {
        background: url('~assets/images/location.png') no-repeat center center / contain;
        height: 20px;
        width: 14px;
        margin-right: 12px;
      }

      &-email .contact-icon {
        background: url('~assets/images/mail.png') no-repeat center center / contain;
        height: 19px;
        width: 26px;
        margin-right: 12px;
      }
    }
  }

  .nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 160;
    overflow-y: scroll;

    &-header {
      position: relative;
      height: 20vh;
      background: url('~assets/images/slide-1.jpg') no-repeat center center / cover;
    }

    &-opacity {
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }

    &-heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 28px;
      color: #FFFFFF;
    }

    &-close {
      position: absolute;
      background: url('~assets/images/close.svg') no-repeat center / cover;
      right: 20px;
      top: 30%;
      width: 25px;
      height: 25px;
    }

    &-item {
      width: 100%;
      display: block;
      background: #4A92AB;
      border-bottom: 1px solid #587495;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 15vh;
      color: #fff;
      text-align: center;

      a {
        color: #fff;
      }
    }

    &-checkbox {
      display: none;
    }

    &-label {
      display: block;
    }

    &-dropdown {
      display: none;

      &Item {
        display: block;
        width: 100%;
        background: #F0F0F0;
        text-transform: capitalize;
        color: #686868 !important;
        font-size: 16px;
        line-height: 10vh;

        &:first-child {
          padding-top: 30px;
        }

        &:last-child {
          padding-bottom: 30px;
        }
      }

    }

    &-checkbox:checked ~ &-dropdown {
      display: block;
    }

  }

  .hidden-menu {
    display: none;
  }

  @media (max-width: 768px) {
    .header {
      .slider.slider-small {
        height: 49vh;
      }

      .slider {
        height: 49vh;
        min-height: initial;

         &-title {
           font-size: 26px;
           text-align: center;
           width: 90%;
           z-index: 80;
         }

         &-left,
         &-right,
         &-dots {
           display: none;
         }
       }

      .nav {
        margin-top: 20px;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 60px;
        z-index: 148;
        background: #fff;

        &_mobile {
          -webkit-overflow-scrolling: touch;
          background: #4A92AB;
        }

        .container {
          align-items: center;
        }

        &-list {
          display: none;
        }

        &-burger {
          display: block;
        }
      }

      .contact {
        padding: 10px 0;
        .container {
          flex-flow: column nowrap;
          text-align: center;
        }

        &-icon {
          display: none;
        }

        &-item {
          padding: 20px 0;
          position: relative;

          &:not(:first-child) {
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              height: 2px;
              width: 100px;
              background: #fff;
            }
          }
        }
      }

      .links {
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 149;
        transition: transform 0.3s ease;

        &-toggle {
          position: absolute;
          bottom: 0;
          height: 20px;
          width: 100%;
        }

        &-close {
          background: url('~assets/images/close.svg') no-repeat center / cover;
          position: absolute;
          top: 2.5%;
          left: 50%;
          transform: translateX(-50%);
          width: 20px;
          height: 20px;
        }

        .container {
          flex-flow: column nowrap;
          padding: 20px 0;
          height: 100%;
        }

        .follow {
          position: initial;
          width: 100%;
          margin-top: 10%;

          &-text {
            background: transparent;
            text-align: center;
            padding: 15px 0;
            font-size: 16px;

            &::after {
              display: none;
            }
          }

          &-dropdown {
            padding: 0;
            box-shadow: none;
            display: block;

            a {
              padding: 0;
              line-height: 10vh;
              text-transform: capitalize;
              display: block;
            }
          }
        }

        &-line {
          display: block;
        }

        &-item {
          padding: 0;
          margin: 0;
          font-size: 16px;
          line-height: 5vh;

          &:first-child {
            padding: 0;
            margin: 0;
            border: none;
            font-size: 16px;
            font-weight: normal;
          }

        }

      }

    }

    .hidden-links {
      transform: translateY(calc(-100% + 20px));
    }
  }
</style>
