<template lang="pug">
  .subnav
    router-link.subnav-item(v-if="About !== undefined" to="/acerca-de/")
      | {{menu.itemAbout}}
    router-link.subnav-item(v-if="Ministry !== undefined" to="/ministerios/")
      | {{menu.itemMinistries}}
    router-link.subnav-item(v-if="OtherProgram !== undefined" to="/programas/")
      | {{menu.itemPrograms}}
    router-link.subnav-item(v-if="Rectory !== undefined && Rectory.name !== undefined" to="/casa-del-parroco/")
      | {{menu.itemRectory}}
    router-link.subnav-item(v-if="Sacrament !== undefined" to="/sacramentos/")
      | {{menu.itemSacraments}}
    router-link.subnav-item(v-if="Staff !== undefined" to="/personal/")
      | {{menu.itemStaff}}

</template>
<script>
  export default {
    name: "SubnavComponent",

    data() {
      return {
        ...DATA,
        menu: Object.keys(DATA.Menu)
          .reduce((v, m) =>
            DATA.Menu[m].language.encodedValue === DATA.Parish.languageDefault.encodedValue
          ? DATA.Menu[m] : v, undefined)
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  .subnav {
    flex: 0 0 200px;
    text-align: right;

    display: flex;
    flex-flow: column nowrap;

    &-item {
      font-size: 14px;
      color: #5C5C5C;
      line-height: 20px;
      padding: 10px 20px 10px 0;
      text-transform: uppercase;
      position: relative;
      cursor: pointer;
    }

    &-item.router-link-active {
      color: #4A92AB;

      &:after {
        content: '';
        background: url("~assets/images/chevron.svg") no-repeat center center / contain;
        width: 13px;
        height: 12px;

        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @media (max-width: 768px) {
    .subnav {
      width: 100%;
      flex: 1;
      text-align: left;
    }
  }
</style>
